@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}
body{
	font-size: x-large;
}
div#formcol1 {
	float:left;	
	width: 100%;
}

label {
	margin-right: .3em;
	width: 6.3em;  /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
}
#formcol1 label{
	text-align: right;
}
#multchoice label{
	width: 3.3em;
}
/*To remove the bullet points, we set list style to none: */

/* we place the id formcol1 in front of the li element in order to limit this formatting to the top part of the form */

#formcol1 li {   
	list-style:none;
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: #FFF !important;
	background-color: #2c00a7 !important;
}

#formcol1 input.reqfield {
	background:#FF9;
}

/* end of form css */